// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
%map-style {
    overflow: hidden;
    width: 100%;
    height: $height-map;
}
%copyright-font {
    @include setFont(12px, #fff, 400, $font-text);
}


#footer {
    position: relative;
    width: 100%;
    z-index: 5;
    background-color: #a81900;
    @include boxstyle($display: flex, $justify-content: space-between);
    .ft-left{
        background-color: #971600;
        width: percentage(540/1366);
    }
    .ft-right{
        $pd-lr: percentage(80/1366);
        @include flex(1);
        padding: em(55) $pd-lr;
    }
    .ft-top{
        
    }

    .ft-logo { 
        margin-bottom: 1em;
        a{
            display: inline-block;
            max-width: 160px;
            img{
                
            }
        }
    }
    .ft-info {
        $pd-lr: percentage(60/540);
        position: relative;
        text-align: center;
        color: #fff;
        padding: 1em $pd-lr 2em;
    }
    .ft-flex {
        
        @include boxstyle($display: flex, $justify-content: space-between);
        

        .ft-bando {
        }

        .ft-fanpage {
            // width: percentage(270/1190);
            // .fanpageplace {
            //     height: 200px;
            //     overflow: hidden;
            // }
        }

        .ft-dknt{
        }

        .ft-baiviet {
            width: percentage(350/1300);

            @include doubly(){
               width: percentage(242/1300); 
            }
            ul {
                @extend %reset-list;

                li {
                    margin-bottom: 10px;
                    @include setTagAHover(#fff, #ff0);
                    a {
                        font-size: 15px;
                        position: relative;
                        
                        @include boxstyle($display: flex, $align-items: flex-start);
                        &::before {
                            // content: "\f009";
                            content: "";
                            margin: 8px 7px 0 0;
                            // @include setFont(7px, #fff, 700, $font-awesome);
                            @include box(3px, 3px, 100%);
                            background-color: #fff;
                        }
                    }
                    &+li{
                    }
                }
            }
        }
    }

    .ft-company {
        @include setFont(em(52), #fc0214, 400, $font-SFUBelleRegular );
        line-height: 1;
        a {
            color: #fc0214;
        }
    }

    .ft-tit {
        position: relative;
        margin-bottom: 15px;

        strong, span {
            @include setFont(15px, #fff, 600);
            // &::after {
            //     content: "";
            //     @include box(50px, 2px);
            //     @include absolute($bottom: -10px, $left: 0);
            //     background-color: #fff;
            // }
        }

        &::after {
            //content: "";
            // @include box(152px, 1px);
            // @include absolute($left: 0, $bottom: -11px);
            // border-bottom: 1px dashed #fff;
        }
    }

    // .copyright {
    //     position: relative;
    //     background: $bg-copyright; 
    //     .ft-wrap {
    //         min-height: 54px;
    //         @include boxstyle($display: flex, $justify-content: space-between, $align-items: center);
            
            .text {
                @extend %copyright-font;
                margin: 5px 0;
            }

            
    //     }
    // }
}
.codebando, .codebando iframe{
    // @extend %map-style;
}
.mxh{
    @extend %mxh-style;
}
ul.ft-thongke {
    @extend %reset-list;

    @include boxstyle($display: flex);
    li {
        @extend %copyright-font;

        @include boxstyle($display: flex, $align-items: center);
        position: relative;
        margin: 5px 0;

        span {
            margin-left: 4px;
        }

        & + li {
            margin-left: 2em;

            &::before {
                content: "";
                background-color: #fff;
                @include box(1px, 12px);
                @include absolute($left: -1em);
            }
        }
    }
}