%hover_menu_color{
    //background: url($images-url+"hover-menu.png") repeat-x;
    color: $color-menu-hover;
    //background-color: $bg-menu-item-hover;
}
@include keyframes(dropInDown) {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px)
    }
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
}
%sub-menu-list{
    position: absolute;
    display: none;
    // min-width: 200px;
    width: 220px;
    background-color: $theme-color;
    list-style-type: none;
    margin: 0;
    @include boxShadow(0 3px 5px 0 rgba(0,0,0,.2));
    @include animation('dropInDown 0.3s both');
}
.nav-bg {
    @include relative($top: 0, $left: 0, $right: 0);
    @include bg("duan-datnen.jpg", $background-size: 100% auto );
    z-index: 451 !important;
    @at-root .clsindex #{&}{
        position: absolute;
        
    }
    @at-root .clsindex #{&}:not(.fixed){
        background: none;
        
    }
}
.logo{
    

    order: 1;
    max-width: 160px;
    
    margin: 0 em(30);
    padding: 1em 0;
    img{
        height: 120px;
        @include transition(all 0.5s ease);
        @include when-inside('.fixed'){
            height: 72px;
        };
    }
}
.main-nav {
    @include boxstyle($display: flex, $justify-content: space-between, $align-items: center);
    position: relative;
    ul{
        @extend %reset-list;
    }
    &-left{
        @include flex(1);
        &>li{
            @include doubly()
            {
                 // margin-left: em(60);
            }
        }
    }
    &-right{
        @include flex(1);
        order: 2;
        margin-right: em(60);
        &>li{
            // margin-left: em(50);
        }
    }
    &>ul {
        @include boxstyle($display: flex, $align-items: center, $justify-content: space-around);
        z-index: 5;
        position: relative;
        &>li {
            @include boxstyle($display: flex, $align-items: center, $justify-content: center);
            position: relative;
            z-index: 5;
            @include flex(1);
            &:not(:last-child):after{
                // content: "";
                // @include box(1px, 11px);
                // background-color: #dbdbdb;
                // @include absolute($right: -#{em(15)});
            }
            @include doubly()
            {
                
            }
            ul{
                @extend %sub-menu-list;
            }
            @include setTagAHover(#fff,$color-menu-hover);
            &>a {
                @include boxstyle($display: flex, $align-items: center,$justify-content: center, $flex-wrap: wrap);
                min-height: 38px;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                @include setFont(15px, #fff, 600, $font-menu);
            }
            &:hover {
                &>ul{
                    display: block;
                }
            }
            &.active{
                &>a {
                    color: $color-menu-hover;
                }
            }
        }
    }
}
.main-nav {
    ul.sub-menu {
       left: 50%;
       margin-left: -110px;
       top: 100%;
        li {
            position: relative;
            a {
                @include setFont(14px, #212121, 400, $font-menu);
                text-decoration: none;
                padding: 7px 20px 7px 10px;
                // line-height: 34px;
                // white-space: nowrap;
                display: block;
                &:after {
                    content: "\f105";
                    font:{
                        weight: 700;
                        family: $font-awesome;
                    };
                    @include absolute($top: 5px, $right: 5px);
                }
            }
            @include setTagAHover(#fff,#ff0);
            &:hover{
                &>ul{
                    display: block;
                }
            }
            ul {
                top: 0;
                left: 100%;
            }
        }
    }
}
// .megaMenu{
//     width: 100%;
//     padding: 15px 5px;
//     @include grid($display: flex, $flex-wrap: wrap, $gutter: 4px);
// }
// .megaMenuItem{
//     @include grid-col($col: 3, $grid-columns: 12, $gutter: 4px);
//     a{
//         display: block;
//         figure{
//             position: relative;
//             padding-top: 100%;
//             img{
//                 @extend %img-fill;
//                 object-fit: cover;
//                 object-position: top center;
//             }
//         }
//         h2{
//             margin: 0;
//             @include setFont(12px, #000, 400);
//             text-transform: uppercase;
//         }
//     }
// }
//menu dropdown
.global-nav-dropdown{
    // right: 0;
    // text-align: left;
    // position: absolute;
    // left: 0;
    // top: 100%;
    // max-height: calc(100vh - 112px);
    // max-width: 100vw;
    // opacity: 0;
    // visibility: hidden;
    // overflow: auto;
    // z-index: 9000;
    // transition: opacity .1s linear .4s,visibility 0ms linear .41s;
    // background-color: #fff;
    // box-shadow: inset 0 -1px 0 0 #e5e5e5;
    // .nav-dropdown-container{
    //     max-width: 1024px;
    //     margin: 0 auto;
    //     padding-bottom: 40px;
    //     display: table;
    //     .nav-menu-column{
    //         width: 200px;
    //         display: table-cell;
    //         padding-right: 16px;
    //         padding-left: 16px;
    //         .nav-menu-item{
    //             display: block;
    //             white-space: nowrap;
    //             font-size: 12px;
    //             line-height: 16px;
    //             margin-bottom: 8px;
    //             color: #111;

    //             &:hover{
    //                 color: #6d6d6d;
    //             }
    //             &.is-header{
    //                 font-weight: 700;
    //                 letter-spacing: .5px;
    //                 font-size: 16px;
    //                 line-height: 16px;
    //                 margin-top: 20px;
    //                 margin-bottom: 16px;
    //                 display: block;
    //             }
    //         }
    //     }
    // }
}