// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
%idx-tit {} 
%idx-tit-line {
    content: "";
    background: url($images-url + "idx-l.png");
    @include box(134px, 7px);
    @include relative($bottom: -5px);
}
.idx-tit {
    margin-bottom: em(20);
    position: relative;
    h4 {
        @include setFont(em(35), #000, 700);
        text-transform: uppercase;
        margin: 0;
        @include boxstyle($display: flex, $justify-content: center);
        img{
        }
        span, a {
            color: #000;
            line-height: 1;
            position: relative;
            @include boxstyle($display: flex, $align-items: center, $justify-content: space-between);
            &::before {
                content: "";
                @include bg("idx-l.png");
                @include box(117px, 7px);
                margin-right: em(20);
            }
            &::after {
                content: "";
                @include bg("idx-r.png");
                @include box(117px, 7px);
                margin-left: em(20);
            }
        }

        &::before {
        }

        &::after {
        }
    }
}

.idx-desc {
    @include setFont(15px, #fff, 400);
    line-height: 1.7;
    text-align: center;
    max-width: 670px;
    margin: 0 auto;
}
.about-bg{
    padding-bottom: em(60);
    position: relative;
    z-index: 2;
}
.special-title {
    @include absolute($left: 0, $bottom: 0);
    writing-mode: vertical-rl;
    transform: scale(-1, -1);
    
    @include setFont(15px, #000, 400);
    width: em(60);
    padding-top: 30px;
    margin-bottom: em(120);
    &:before{
        content: "";
        @include absolute($right: 10px, $top: 0);
        
        @include box(1px, 20px);
        background-color: $theme-color;
    }
}
.about-flex{
  $pd-60: em(60);
  $pd-120: em(120);
  position: relative;
  overflow: hidden;
  padding: $pd-60 $pd-60 $pd-60 $pd-60;
  @include boxstyle($display: flex, $justify-content: space-between);
  &:before{
      $box-xam-width: percentage(1038/1200);
      content: "";
      @include absolute($right: 0, $top: em(120), $bottom: em(60));

      @include box($box-xam-width, 100%);
      background-color: #f5f5f5;
      z-index: -1;
  }
  figure{
    width: percentage(410/1080);
    margin-bottom: 0;
    position: relative;
        img{
          width: 100%;
        }
        figcaption{
          @include background-opacity(#000, $opacity: 0.5);
          @include absolute($left: 0, $bottom: 0, $right: 0);
          padding: 10px;
          text-align: center;
          p{
            margin-bottom: 0;
            @include setFont(17px, #fff);
            strong{
              font-size: 20px;
            }
          }
        }
    }
  .about-info{
    @include flex(1);
    @include boxstyle($display: flex, $justify-content: flex-end, $flex-direction: column);
    margin-left: em(50);
    
    &__title{
        @include setFont(40px, #000, 700);
        text-transform: uppercase;
        position: relative;
        margin-bottom: em(10);
        &:before{
            content: "";
            @include absolute($left: 0, $bottom: 0);
            @include box(50px, 1px);
            background-color: $theme-color;
        }
    }
    &__text{
        @include setFont(15px, 000, 400);
        line-height: 1.5;
    }
    &__footer{}
  }
}

.dm-cap-bg{

}
.dm-cap-main{}
.dm-cap-item{
  a{
    display: block;
    position: relative;
    color: #fff;
    &:after{
        content: "";
        @include absolute(0,0,0,0);
        @include bg("bongmo.png", $background-position: bottom center, $background-repeat: repeat-x);
         @include box(100%, 100%);
    }
    figure{
        margin-bottom: 0;
        position: relative;
        padding-top: percentage(557/342);
      img{
        @extend %img-fill;
        object-fit: cover;
        object-position: top center;
      }
    }
    .info{
        @include absolute(0,0,0,0);
        z-index: 2;
        @include boxstyle($display: flex, $justify-content: flex-end, $flex-direction: column);
        padding: em(40) em(30) em(30);
      &-head{
        &__title{
          &--big{
            font-size: em(23);
            font-weight: 700;
            margin-bottom: 20px;
          }
          &--small{
            position: relative;
            font-size: 17px;
            margin-bottom: 30px;
            @include boxstyle($display: flex, $justify-content: center);
            &:before{
                content: "";
                @include box(30px, 1px);
                @include absolute($top: -10px);
                background-color: #fff;
            }
          }
        }
      }
      &-body{
        line-height: 1.5;
        font-size: 13px;
        opacity: 0;
        @include transition(all 0.8s ease);
      }
      &-foot{
        opacity: 0;
        @include transition(all 0.8s ease);
        .chitiet{
            color: #fff;
            img{
                filter: brightness(0) invert(1);
            }
        }
      }
    }
    &:hover{
        .info{
            @include justify-content(space-between);
            background-color: rgba(168, 25, 0, 0.85);
            &-body{
              opacity: 1;
            }
            &-foot{
              opacity: 1;
            }
        }
    }
  }
}
.canho-noibat{
    padding-top: em(40);
}
.canho-info{
    $pd-20: em(20);
    @include absolute($top: 60%,$left: 0,$right: 0);
    height: 100%;
    z-index: 2;
    @include boxstyle($display: flex, $justify-content: space-between, $flex-direction: column);
    padding: $pd-20;
    background-color: rgba(168, 25, 0, 0.85);
    text-align: center;
    @include transition(all 1s ease);
    opacity: 0;
    display: flex;
    @at-root .pr-box:hover #{&}{
        opacity: 1;
        top: 0;
    }
  &__head{

  }
  &__title{
    position: relative;
    @include setFont(16px, #fff, 600);
    line-height: 1.5;
    margin-bottom: 30px;
    @include boxstyle($display: flex, $justify-content: center);
    text-transform: capitalize;
    &:before{
        content: "";
        @include box(30px, 1px);
        @include absolute($bottom: -10px);
        background-color: #fff;
    }
  }
  &__body{
    line-height: 1.5;
    font-size: 13px;
  }
  &__foot{
    .chitiet{
      color: #fff;
      img{
          filter: brightness(0) invert(1);
      }
    }
  }
}
.canho-other-info{
    background-color: #f4f4f4;
    padding: em(20);
  h3{
    @include setFont(16px, #000, 600);
    @include setTagAHover(#000, #a81900);
    margin-bottom: 10px;
    a{

    }
  }
  &-line{
    @include boxstyle($display: flex, $justify-content: space-between);
    p{
        @include setFont(13px, #000, 400);
        @include flex(auto);
        margin-bottom: 0;

      i{
        color: #aaa;
        margin-right: 3px;
      }
      .fas.fa-tag, span{
        
        color: #a81900;
      }
      span{
        font-size: 16px;
      }
    }
    @include doubly(){
        p{
            margin-top: 10px;
        }
    }
  }
}
.duan-datnen{
    padding: em(60);
    background-attachment: fixed;
    //background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    .idx-tit {
        h4{
            span, a{
                color: #fff;
            }
        }
    }
    .special-title{
        color: #fff;
        margin-bottom: 0;
        left: 15px;
    }
}
.duan-datnen-main{
    @include clearfix;
    margin: 0 percentage(88/1200);
    .slick-prev{
        opacity: 1;
        @include box(26px, 47px);
        @include bg("canho-l.png");
        transform: unset;
        margin-top: -23px;
        left: -12px;
    }
    .slick-next{
        opacity: 1;
        @include box(26px, 47px);
        @include bg("canho-r.png");
        transform: unset;
        margin-top: -23px;
        right: -12px;
    }
}
.duan-datnen-item{
  article{
    @include clearfix;
    position: relative;
  }
  figure{
    width: percentage(700/1040);
    float: left;
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 10px;
    padding: 7px;
    img{

    }
  }
  section{
    width: percentage(556/1040);
    background-color: #fff;
    border-radius: 10px;
    padding: em(30);
    @include absolute($right: 0, $bottom: 0);
    h3{
        @include setFont(17px, #000, 600);
        @include setTagAHover(#000, #a81900);
        margin-bottom: 10px;
      a{

      }
    }
    .duan-datnen-line{
      @include boxstyle($display: flex, $justify-content: space-between);
      p{
          @include setFont(15px, #000, 400);
          @include flex(auto);

          margin-bottom: 0;

          i{
              color: #aaa;
              margin-right: 3px;
          }
          .fas.fa-tag, span{

              color: #a81900;
          }
      }
      @include doubly(){
          p{
              margin-top: 10px;
          }
      }
    }
    .duan-datnen-text{
        line-height: 1.5;
        font-size: 15px;
    }
    .duan-datnen__foot{
      .chitiet{
        img{}
      }
    }
  }
}
.camnhan-khachhang{
  padding: em(60) 0;
}
.camnhan-main{
  @include clearfix;
  margin: 0 -#{em(13)};
  .slick-dots{
    bottom: 0;
    li{

      button:before{
        color: $theme-color;
      }

      &.slick-active{
        button:before{
          color: $theme-color;
        }
      }
    } 
  }
}
.camnhan-item{
  padding: 0 em(13) 100px;
  article{
    border-radius: 10px;
    border: 1px solid #c8c8c8;
    position: relative;
    padding: 20px 20px 70px;
    @include transition(all 0.2s ease);
    @include boxstyle($display: flex, $justify-content: center, $flex-wrap: wrap);
    .camnhan-head{
      @include boxstyle($display: flex, $align-items: center, $justify-content: center);
      @include absolute($left: 0, $bottom: -50px, $right: 0);
      figure{
        @include transition(all 0.2s ease);
        @include box(92px, 100px);
        @include boxstyle($display: inline-flex, $align-items: center);
        background-color:#fff;
        border: 1px solid #ebebeb;
        position: relative;
        margin: 0;
        img{
          margin-left: 10px;
        }
      }
      &-box{
        background-color:#fff;
        padding: 0 20px;
        p{
          margin-bottom: 0;
          @include setFont(15px, #000);
        }
      }
    }
    .camnhan-body{
      position: relative;
      width: 100%;
      padding-left: 80px;
      &:before{
        content: "";
        @include bg("quote.png");
        @include box(53px, 48px);
        @include absolute($left: 0,$top: 0);
      }
      p{
        @include setFont(15px, #000);
        margin-bottom: 0;
        line-height: 2;
        @include line-clamp($font-size: 15px, $line-height: 2, $lines-to-show: 3, $max-height: false);
      }
    }
  }
  &:hover{
    article, figure{
      border-color: $theme-color !important;
    }
  }
}
.thamquan-canho{
  background-attachment: fixed;
    //background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
  padding: em(60) 0;
  position: relative;
  .idx-tit{
    h4{
      span{
        color: #fff;
      }
    }
  }
  form{
    max-width: 1030px;
    margin: 20px auto;
    @include boxstyle($display: flex, $justify-content: space-between);
  }
  .huongdan-text{
    @include setFont(16px, #fff, 400);
    margin-bottom: 0;
    a{
      font-size: 700;
      color: #ff0;
      text-decoration: underline;
    }
  }
  .form-left{
    .form-group{
      @include boxstyle($display: flex, $justify-content: space-between);
    }
    input[type="text"]{
      @include doubly(){
        margin-left: em(10);
      }
      &.input-diachi{
        // @include flex(auto);
      }
    }
    input[type="date"]{
      margin-left: em(10);
      // @include flex(auto);
    }
    .btn{
      margin-left: em(10);
      @include setFont(16px, #fff, 700);
      text-transform: uppercase;
      background-color: $theme-color;
      white-space: nowrap;
      // @include flex(auto);
    }
    @include flex(1);
    margin-right: em(10);
  }
  .form-right{
    width: percentage(350/1030);
    textarea{
      height: 90px;
    }
  }
}
.tencanho{
  @include setFont(20px, $theme-color, 700);
  text-align: center;
}
.canho-thongtin{
  padding-top: 20px;
  margin-bottom: 20px;
  border-color: #cecbcb;
  border-style: solid;
  border-width: 1px 0;
  p{
    @include flex(1);
  }
}
.datnen-item{
  @include boxstyle($display: flex, $justify-content: space-between);
  margin-bottom: 2em;
  @include doubly(){
    border-top: 1px solid #eee;
    padding-top: 30px;
  };
  .imgsp{
    @include boxstyle($display: inline-flex);
    width: 49%;
    order: 1;
    img{

    }
  }
  .info{
    width: 49%;

    h3{
      @include setFont(25px, $theme-color, 700);  
      a{
        color: $theme-color;
      }
    }
    p{
      strong{

      }
    }
    .xemthem{
      background-color: #f7f6f6;
      display: inline-block;
      @include transition(all 0.2s ease);  
      @include setFont(12px, #333);  
      padding: 5px 10px;
      border-radius: 3px;
      @include on-event(){
        background-color: $theme-color;
        color: #fff;
      };  
    }
  }
  &.even{
    .imgsp{
      order: 0;
    }  
  }
}
.call-element{
  position: relative;
  z-index: 6;
.callnow{
  @include setFont(20px, #000);
  @include absolute($right: 15px, $top: -38px);
  @include boxstyle($display: inline-flex, $align-items: center);
  background-color: #fff;
  border-radius: 5px;
  @include boxShadow(0 20px 20px rgba(0,0,0,.1));
  padding: 20px;
  i{
    @include box(32px, 32px, 100%);
    @include setFont(12px, #fff);
    @include boxstyle($display: inline-flex, $justify-content: center, $align-items: center);
    background-color: $theme-color;
    margin-right: 7px;
  }
  a{
    color: $theme-color;
    margin-left: 5px;
  }
}
}
.thamquan-btn{
  @include fixed($left: 0, $top: 50%);
  z-index: 156;
  margin-top: -110px;
  img{}
}
.logoload{
  @include absolute($left: 50%, $top: 50%);
  transform: translate(-50%, -50%);
  z-index: 10000000;
  max-width: 120px;
  opacity: 1;
  @include when-inside('.slider_fix'){
    opacity: 0;
  };
  img{
    
  }
}
.bando-x{
  iframe{
    height: 400px;
    width: 100%;
  }
}