// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
%idx-tit {} 
%idx-tit-line {
    content: "";
    background: url($images-url + "idx-l.png");
    @include box(134px, 7px);
    @include relative($bottom: -5px);
}
.idx-tit {
    margin-bottom: 37px;
    position: relative;
    &>a{
      @include absolute($right: 0, $top: 5px);
    }
    h4 {
        @include setFont(em(33), #333, 700);
        @include bg("idx-tit.png",$background-position: bottom center);
        padding-bottom: 25px;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        img{
        }
        span, a {
            color: #333;
            display: inline-block;
            position: relative;
            &::after {
                // content: "";
                // @include bg("idx-tit.png");
                // @include box(155px, 33px);
                // @include absolute($bottom: -20px, $right: -90px);
            }
        }

        &::before {
        }

        &::after {
        }
    }
}

.idx-desc {
    // @include setFont(15px, #808080, 400, $font-text);
}
.about-bg{
    padding-bottom: em(60);
}
.special-title {
    @include absolute($left: 0, $bottom: 0);
    writing-mode: vertical-rl;
    transform: scale(-1, -1);
    
    @include setFont(15px, #000, 400);
    width: em(60);
    padding-top: 30px;
    margin-bottom: em(120);
    &:before{
        content: "";
        @include absolute($right: 10px, $top: 0);
        
        @include box(1px, 20px);
        background-color: $theme-color;
    }
}
.about-flex{
  $pd-60: em(60);
  $pd-120: em(120);
  position: relative;
  overflow: hidden;
  padding: $pd-60 $pd-60 $pd-120 $pd-60;
  @include boxstyle($display: flex, $justify-content: space-between);
  &:before{
      $box-xam-width: percentage(1038/1200);
      content: "";
      @include absolute($right: 0, $top: em(120), $bottom: em(60));

      @include box($box-xam-width, 100%);
      background-color: #f5f5f5;
      z-index: -1;
  }
  figure{
    width: percentage(410/1080);
    margin-bottom: 0;
        img{

        }
    }
  .about-info{
    @include flex(1);
    @include boxstyle($display: flex, $justify-content: flex-end, $flex-direction: column);
    margin-left: em(50);
    
    &__title{
        @include setFont(40px, #000, 700);
        text-transform: uppercase;
        position: relative;
        margin-bottom: em(10);
        &:before{
            content: "";
            @include absolute($left: 0, $bottom: 0);
            @include box(50px, 1px);
            background-color: $theme-color;
        }
    }
    &__text{
        @include setFont(15px, 000, 400);
        line-height: 1.5;
    }
    &__footer{}
  }
}

.dm-cap-bg{

}
.dm-cap-main{}
.dm-cap-item{
  a{
    display: block;
    position: relative;
    color: #fff;
    &:after{
        content: "";
        @include absolute(0,0,0,0);
        @include bg("bongmo.png", $background-position: bottom center, $background-repeat: repeat-x);
         @include box(100%, 100%);
    }
    figure{
        margin-bottom: 0;
        position: relative;
        padding-top: percentage(557/342);
      img{
        @extend %img-fill;
        object-fit: cover;
        object-position: top center;
      }
    }
    .info{
        @include absolute(0,0,0,0);
        z-index: 2;
        @include boxstyle($display: flex, $justify-content: flex-end, $flex-direction: column);
        padding: em(40) em(30) em(30);
      &-head{
        &__title{

          &--big{
            font-size: em(23);
            font-weight: 700;
            
            
            margin-bottom: 20px;
            
          }
          &--small{
            position: relative;
            font-size: 17px;
            margin-bottom: 30px;
            @include boxstyle($display: flex, $justify-content: center);
            &:before{
                content: "";
                @include box(30px, 1px);
                @include absolute($top: -10px);
                background-color: #fff;
            }
          }
        }
      }
      &-body{
        line-height: 1.5;
        font-size: 13px;
        display: none;
      }
      &-foot{
        display: none;
        .chitiet{
            color: #fff;
            img{
                filter: brightness(0) invert(1);
            }
        }
      }
    }
    &:hover{
        .info{
            @include justify-content(space-between);
            background-color: rgba(168, 25, 0, 0.85);
            &-body{
              display: block;
            }
            &-foot{
              display: block;
            }
        }
    }
  }
}