// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Container's maximum width
/// @type Length
$max-width: 1230px !default;
$browser-context: 16;
/* ======================== FONTS ======================== */
$font-SFUSchadowBTBlackCondensed        : 'SFUSchadowBTBlackCondensed';
$font-UTMHelvetIns                      : 'UTMHelvetIns';
$font-UTMImpact                         : 'UTMImpact';
$font-SFUFuturaBook                     : 'SFUFuturaBook';
$font-SFUFuturaHeavy                    : 'SFUFuturaHeavy';
$font-SFUBelleRegular                    : 'SFUBelleRegular';
$font-roboto-mono                       : 'Roboto Mono', monospace;
$font-open-sans                         : 'Open Sans', sans-serif;
$font-roboto-condensed                  : 'Roboto Condensed', sans-serif;
$font-roboto                            : 'Roboto', sans-serif;
$font-barlow-semi-condensed             : 'Barlow Semi Condensed', sans-serif;
$font-montserrat                        : 'Montserrat', sans-serif;
$font-muli                              : 'Muli', sans-serif;
$font-oswald                            : 'Oswald', sans-serif;
$font-nunito                            : 'Nunito', sans-serif;

$font-title             : $font-montserrat;
$font-text              : $font-montserrat;
$font-awesome           : 'Font Awesome 5 Free';
$font-second            : 'Arial';
/* ======================== HEADER ======================== */
$bg-header-top          : #000000;
$bg-header              : #fff;
$bg-breadcrumb           : #f7f6f6;
/* ======================== MENU ======================== */
$font-menu              : $font-montserrat;
$color-menu-hover       : #fff;
$bg-menu                : #333;
$bg-valak               : #000;
$bg-menu-item           : transparent;
$bg-menu-item-hover     : transparent;
/* ======================== FOOTER ======================== */
$bg-copyright       : #0f0f0f;
$bg-footer          : #131313;
$theme-color        : #a81900;
$height-map         : 375px;
/* ======================== URL ======================== */
$font-url           : 'css/fonts/';
$font-awesome-url   : 'css/fontawesome/webfonts/';
$images-url         : 'images/';
/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels



/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/' !default;
